@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

:root  {
    font-family: 'Syne', sans-serif;
}

#logo{
    height: 30px;
    margin-left: 10px;


}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

}

.navbar-nav {
    display: flex;
    background: blue;
    
}

.navbar-nav a{
    text-decoration: none;
    color: black;
    margin: 25px;
   


}



.my-custom-menu-item  a{
    color: white;
;
    
}
    

#footer a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px ;
    padding-bottom: 20px;
    
}

.wpcf7 p {
    
    padding-bottom: 35px;
    font-size: 25px;
    
}


.wpcf7 .wpcf7-form-control {
    margin-top: 20px;
    padding: 32px 50px 35px 50px;
    border: none;
    border-radius: 5px;
    width: 100%;
    
}




.wpcf7 .wpcf7-submit {
    padding: 15px 50px 15px 50px;
    background: #E0B9B4;
    color: white;
    widows: 35%;
    margin-top: -10px; 

}
    




@media (max-width: 900px){
    .navbar-nav {
    
    
    
    
    
    padding: 15px;
    
    
}

.menu-navigation-container  a{

}

.logo-image{
    width: 100%;
    justify-content: center;
    display: flex;
}

.nav {
    flex-wrap: wrap;
    padding-top: 10px;
}
.menu-navigation-container{
    width: 100%;
}

.menu-navigation-container ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

}


.menu-item-home a{
    margin-left: 28px !important;}

    .navbar-nav a{
        
        margin: 30px 0 0 20;
               
        

    }

    .my-custom-menu-item  a{
        
        padding-top: 10px;
        padding-bottom: 10px;
    
    
            }
            .my-custom-menu-item{
                padding-top: px;
            }
        
}












    
    
    


