@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

:root  {
    font-family: 'Syne', sans-serif;
}

#logo{
    height: 30px;
    margin-left: 10px;

}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    
}

.mr-auto{


}






    
    
    


