@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

:root  {
    font-family: 'Syne', sans-serif;
}

#logo{
    height: 35px;
    margin-left: 10px;
}

#menu{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
    height: 80px;
    margin-bottom: -19px;
}

.navbar-nav {
    display: flex;    
}

.navbar-nav a{
    text-decoration: none;
    color: black;
    margin: 25px;
}

.navbar-nav a:hover{
    font-weight: bold;
}

/* lien de nav commander */
.menu-item-20 a{
    color: white;
    background: #DC9F96;
    padding: 25px;
    align-items: center;
    margin-right: 0px;
    padding-left: 35px;
    padding-right: 35px;
}

.menu-navigation-container .menu-item-20 {
    order: 3;
}

.menu-item-20 a:hover{
    background: #C02E44;
}

/*footer*/

#footer a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px ;
    padding-bottom: 20px; 
}



/* contact form 7 contact */
.wpcf7 p {
    padding-bottom: 35px;
    font-size: 25px;
}

.wpcf7 .wpcf7-form-control {
    margin-top: 20px;
    padding: 32px 50px 35px 50px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.wpsub {
    display: flex;
    justify-content: center;  
}

.wpcf7  .wpcf7-submit {
    padding: 20px 40px 25px 40px;
    background: #E0B9B4;
    color: white;
    margin-top: -10px; 
    text-align: center;
    font-family: 'syne', sans-serif;
    font-size: 20px;
}


/* quantité */
.containerQuantity{
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: space-between;
  
}

.containerInput{
    width:45%;
    display: flex;
}

.inputQuantity {
  width:60%;
  text-align: center;
  margin:0px;
  padding :0px; 
  border-radius: 5px 0 0 5px;  
  border: none;
  height: 56px;
  font-family: 'syne', sans-serif;
  font-size: 20px;
}

.buttonOK{
    width: 50%;
}


.buttonOK button {
  height:56px;
  background : #E0B9B4;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'syne', sans-serif;
  font-size: 20px;
}

.button1{
  border-radius: 0px 5px 0px 0px;
  text-align: center;
  height: 50%;
  border: none;
  background: #DC9F96;
  color: white;
  border-bottom: 1px solid white;
  font-family: 'syne', sans-serif;
  font-size: 20px;
}
.button2{
  border-radius:0px 0px 5px 0px;
  height: 50%;
  border: none;
  color: white;
  background:#DC9F96;
  font-family: 'syne', sans-serif;
  font-size: 20px;
}

.containerButton{
  flex-direction: column;
  display: flex;
  width: 40%;
}


/* wp cf7 formulaire de commande */
.wpcf7 .container-form {
    display: flex;
    color: white;
    justify-content: space-around;
    margin: 0px;
}  

.wpcf7 .container-form h2{
    font-size: 35px;
    margin-bottom: 40px ;
    font-weight: bold;
}

.wpcf7 .container-form .bloc1 {
    width: 50%;
    border-right: 1px solid white ;
    padding-right: 50px;
    
}
.wpcf7 .container-form .bloc2 {
    width: 50%;
    padding-left: 50px;
} 

.wpcf7 .container-form .bloc1 .bloc2{
    border: 4px white;
}

.wpsubmit {
    display: flex;
    justify-content: center;
    
}

.wpcf7 .wpsubmit{
    padding: 15px 30px 15px 30px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    
}


.wpsubmit .wpcf7-form-control:hover {
    background: #C02E44;
}

@media (max-width: 1024px){
    .navbar-nav {
    padding: 20px;

}

#menu{
    height: 300px;
    margin-bottom: -45px;
}

.navbar-nav a {
    padding: 20px;
}

.menu-item-20 a{
    padding: 20px;
    align-items: center;
    background: #DC9F96;
    padding: 20px;
}

.logo-image{
    width: 100%;
    justify-content: center;
    display: flex;
}

.nav {
    flex-wrap: wrap;
    padding-top: 10px;
}
.menu-navigation-container{
    width: 100%;
}

.menu-navigation-container ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu-navigation-container ul a{
    margin: 10px;
    align-items: center;
    display: flex;
}

/*form commande */
.wpcf7 .container-form h2{
    font-size: 30px;
}

.wpcf7 .container-form {
    flex-wrap: wrap;
}

.wpcf7 .container-form  .bloc1{
    width: 100%;
    border: none;
    padding: 0px; 
}

.wpcf7 .container-form  .bloc2{
    width: 100%;
    padding: 0px;
}   
  }

 



 


  











    
    
    


